# dependencies
node_modules/

# output
dist/
out/
*.tgz

# bidme - allow .bidme/data/ to be tracked in target repos
!.bidme/data/

# logs
*.log

# dotenv
.env
.env.*.local

# caches
.eslintcache
.cache
*.tsbuildinfo

# OS
.DS_Store

# IDE
.idea
